// 表格滚动条重置
.el-table__body-wrapper {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding: 3px 0;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

// 分页背景色
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: red !important;
  color: #fff;
}

// tabs页
.el_tabs__nav {
  user-select: none;
}
.el-tabs__item {
  font-size: 16px !important;
}
.el-tabs__item.is-active {
  font-weight: 600;
  color: #000 !important;
  font-size: 18px !important;
}

.el-tabs__active-bar {
  background-color: rgb(255, 47, 47) !important;
  height: 3px !important;
}

// menu样式
.el-menu {
  border-right: none;
}

.el-menu-item {
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.el-menu-item-group > ul > .el-menu-item {
  padding-left: 10px !important;
}
.el-submenu__title * {
  color: #ccc;
}
.el-menu-item.is-active {
  color: #000000;
  background-color: rgb(246, 246, 247);
}
